Django
django-allauth
django-filter
django-apscheduler
celery
redis
django-ckeditor
python-dotenv
python-decouple
django-modeltranslation
django-celery-beat
aiohttp
aiosignal
async-timeout
djangorestframework
django-cors-headers
PyYAML
Pillow
django-rest-swagger
channels
channels-redis
daphne